// Place all the styles related to the Phones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin: 50px 30px;
}

.main-menu {
  border-bottom: 1px solid #eee;
  height: 150px;
}

.menu-block {
  padding: auto;
}

.separator {
  .separation-text {
    padding-top: 30px;
    text-align: center;
  }
}

.legend-text {
  text-align: center;
}

//select:required:invalid {
//  color: gray;
//}
//option[value=""][disabled] {
//  display: none;
//}
//option {
//  color: black;
//}
